# Web framework
fastapi>=0.110.0
uvicorn[standard]>=0.29.0
opencv-python>=4.10.0
numpy>=1.26.0
pandas>=2.2.0
scikit-learn>=1.5.0
ultralytics>=8.2.0
python-multipart>=0.0.9
ipykernel>=6.29.0
customtkinter>=5.2.0
darkdetect>=0.8.0
Pillow>=10.0.0
